<section class="flex items-center gap-5 pl-5">

  <fieldset class="relative">
    <input type="file" class="absolute top-0 left-0 opacity-0 w-full h-full cursor-pointer"
           (change)="onFileSelected($event)">
    <span class="font-semibold px-6 py-2 border-3 border-gray-300">
      @if(selectedFile(); as file){
        {{ file.name }}
      }@else{
        Seleccione un archivo...
      }
    </span>
  </fieldset>

  <button class="w-fit px-4 py-2 bg-cyan-600 rounded-md font-semibold text-white cursor-pointer
                  hover:bg-cyan-700 duration-200 delay-150"
          (click)="onSubmit()">
      Agregar nuevo archivo
  </button>
</section>
